@font-face {
  font-family: "Archive", sans-serif;
  src: url(./assets/Archive-Regular.woff) format('woff');
}


:root {
  --col-bg: #477a91;;
  --col-bg-light: #e40202;
  --col-bg-lighter: #ffffff;
  --col-primary-dark: #FF2700;
  --col-primary-light: #477a91;
  --col-shadow: rgba(0, 0, 0, 0.25);
  --col-white: #fff;
}

* {
  z-index: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.TopList{
  align-items: center;
  position: absolute;
  padding-left: 1%;
  transform: translate(0%, 50%);
}

.TopName{
  width: 200px;
  display: flex;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705);
  align-items: center;
  flex-direction: column;
}

table {
  border-radius: 10px;
  background-color: #00000046;
  font-size: 30px;
  z-index: 0;
  position: absolute;
  border: none; /* Убираем обводку у таблицы */
  color: white; /* Цвет текста */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705);
}

td, th {
  z-index: 0;
  border: none; 
  padding: 4px; 
}


body {
    background-color: var(--col-bg);
    font-family: "Archive", sans-serif;
}



.container {
  position: static;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  align-items: top;
  margin: 0 auto;
}

#game-start-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#game-start{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: stretch;
  width: 80%;
}

.menu-elements{
  margin: 10px;
}

.logo{
  margin-bottom: 150px;
}

input{
  font-family: "Archive", sans-serif;
  background: #7a0a1b;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 60%) 5px 5px 10px;
  border: none;
  color: #fbbb5d;
  cursor: pointer;
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  line-height: 16px;
  min-height: 100px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

input::placeholder {
  color: #fbbc5d91; /* Цвет текста placeholder */
  font-weight: normal; /* Установите вес шрифта для placeholder, если нужно */
  opacity: 1; /* Убедитесь, что текст не слишком блеклый */
}

button {
  font-family: "Archive", sans-serif;
  background: #7a0a1b;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 60%) 5px 5px 10px;
  border: none;
  color: #fbbb5d;
  cursor: pointer;
  display: inline-block;
  font-size: 80px;
  font-weight: 800;
  line-height: 16px;
  min-height: 100px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}


#game-canvas {
  position: static;
  box-shadow: 0px 0px 15px 15px #e1ebf03f;
}

#game-ui {
  position: absolute;
  width: 640px;
  height: 960px;
  pointer-events: all;
  user-select: none;
  font-weight: 700;
  display: block;
  transform-origin: top left;
}

#game-score {
  display: none;
  position: absolute;
  width: 100%;
  border-bottom: 3px dotted #477a91;
  font-size: 84px;
  font-weight: 900;
  padding-left: 16px;
  color: var(--col-bg-lighter);
  text-shadow: 3px 3px 0 var(--col-primary), -3px -3px 0 var(--col-primary), -3px 3px 0 var(--col-primary), 3px -3px 0 var(--col-primary);
}

#game-end-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-items: center;
  background-color: var(--col-shadow);
}

#game-end {
  text-align: center;
  padding: 32px 48px;
  background-color: var(--col-bg-lighter);
  border: 5px solid var(--col-primary);
  box-shadow: 0 4px 32px var(--col-shadow);
  border-radius: 32px;
  margin: 0 auto;
  pointer-events: initial;
  user-select: initial;
}

#game-end-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--col-primary-dark);
}

#game-end-link {
  display: inline-block;
  color: var(--col-white);
  font-size: 24px;
  text-decoration: none;
  background-color: var(--col-primary-light);
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px 0 var(--col-shadow);
}

#game-end-link:hover {
  background-color: var(--col-primary);
  box-shadow: 6px 6px 0 var(--col-shadow);
}

#game-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background-color: var(--col-bg-lighter);
  display: none;
}

.game-status-item {
  display: flex;
  line-height: 1;
  align-items: center;
  margin-right: 32px;
}

.game-status-label {
  color: #666;
  font-size: 16px;
  margin-left: 24px;
  margin-right: 8px;
}

#game-highscore-value {
  color: #333;
  font-weight: 700;
  font-size: 24px;
}

#game-next-fruit {
  width: 24px;
  height: 24px;
}